<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookTitle</key>
	<string>Xi-Editor User Guide</string>
	<key>HPDBookRemoteURL</key>
	<string>https://xi-editor.github.io/xi-editor/index.html</string>
	<key>HPDBookKBProduct</key>
	<string>xieditor1</string>
	<key>HPDBookIndexPath</key>
	<string>XiEditor.helpindex</string>
	<key>HPDBookIconPath</key>
	<string>SharedArtwork/XiEditorIcon.png</string>
	<key>HPDBookAccessPath</key>
	<string>XiEditor.html</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleName</key>
	<string>XiEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.levien.XiEditor.help</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
</dict>
</plist>
