body {
    font-size: 17px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

h1 {
    font-size: 28px;
}

h1.Name {
    font-size: 48px;
}

h1, h2 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
}

.topicIcon {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 30px;
}

.topicIcon > img {
    width: 30px;
    height: 30px;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr:nth-child(odd) {
  background: #eee;
}

td {
  padding: 1em;
}

@media(max-width: 400px) {
    .HotkeyTable {
        width: 100%;
    }
}

@media(min-width: 401px) {
    .HotkeyTable {
        width: 400px;
    }
}
